<!DOCTYPE html>
<html lang="en">
<head>
  <title>Control</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='raphael-min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery-1.8.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='socket.io-1.2.0.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='syntax.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='epoch.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">

	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='d3.js') }}"></script>
	<script src="{{ url_for('static', filename='epoch.js') }}"></script>
	<script src="{{ url_for('static', filename='data.js') }}"></script>
	<script src="{{ url_for('static', filename='ZeroClipboard.min.js') }}"></script>
	<script src="{{ url_for('static', filename='moment.js') }}"></script>
	<script src="{{ url_for('static', filename='socket.io-1.2.0.js') }}"></script>
</head>

<body>
	<div class="jumbotron text-center">
  		<h1>Sensor</h1>
  	</div>

	<div id="showdata" class="col-sm-6">
		<h1 style="text-align:center;">Status</h2>
			<h2 style="text-align:center;">Temperature
				<h3 style="text-align:center;">sensor1
					<a id="temp"></a>
				<h3 style="text-align:center;">sensor2
					<a id="temp2"></a>
		<h2 style="text-align:center;">Temperature</h2>
		<div id="real-time-linetemp" class="epoch" style="height: 200px; position: relative;" data-epoch-container-id="epoch-container-6"> </div>
	</div>

	<div id="showdata2" class="col-sm-6">
		<h1 style="text-align:center;">Status</h2>
			<h2 style="text-align:center;">Humidity
				<h3 style="text-align:center;">sensor1
					<a id="humi"></a>
				<h3 style="text-align:center;">sensor2
					<a id="humi2"></a>
		<h2 style="text-align:center;">Humidity</h2>
		<div id="real-time-linehumi" class="epoch" style="height: 200px; position: relative;" data-epoch-container-id="epoch-container-6"> </div>
	</div>
</body>

<script type="text/javascript">
	var socket = io();
	function onrelay(onrelay)
	{
		socket.emit('c2s_com',"onrelay");
		console.log("onrelay");
	}
	function offrelay(offrelay)
	{
		socket.emit('c2s_com',"offrelay");
		console.log("offrelay");
	}
	socket.on('s2c_temp', function(showtemp)
    {
    document.getElementById("temp").innerHTML=showtemp+'&#8451';
    });
    socket.on('s2c_temp2', function(showtemp2)
    {
    document.getElementById("temp2").innerHTML=showtemp2+'&#8451';
    });
    socket.on('s2c_humi', function(showhumi)
    {
    document.getElementById("humi").innerHTML=showhumi+"%";
    });
    socket.on('s2c_humi2', function(showhumi2)
    {
    document.getElementById("humi2").innerHTML=showhumi2+"%";
    });


    var temp=25;
	var humi=50;
	var temp2=25;
	var humi2=50;
		$(function() {
		    var data = new RealTimeData(2);

		    var chart = $('#real-time-linetemp').epoch({
		        type: 'time.line',
		        data: data.history(),
		        axes: ['left', 'bottom', 'right']
		    });

		    setInterval(function() { 
		    	unow=moment().unix();
		    	d=data.next();
		    	
		    	d[0].time=unow;
		    	d[0].y=temp;
		    	d[1].time=unow;
		    	d[1].y=temp2;
		    	chart.push(d);
				console.log(unow);
		    	console.log(JSON.stringify(d));
		    }, 1000);
		    chart.push(data.next());
		});
		$(function() {
		    var data = new RealTimeData(2);

		    var chart = $('#real-time-linehumi').epoch({
		        type: 'time.line',
		        data: data.history(),
		        axes: ['left', 'bottom', 'right']
		    });

		    setInterval(function() { 
		    	unow=moment().unix();
		    	d=data.next();
		    	d[0].time=unow;
		    	d[0].y=humi;
		    	d[1].time=unow;
		    	d[1].y=humi2;
		    	chart.push(d);
				console.log(unow);
		    	console.log(JSON.stringify(d));
		    }, 1000);
		    chart.push(data.next());
		});

		
		socket.on('s2c_temp', function(showtemp)
	    {
	    	temp=parseFloat(showtemp);
	    });
	    socket.on('s2c_humi', function(showhumi)
	    {
	    	humi=parseFloat(showhumi);
	    });
	    socket.on('s2c_temp2', function(showtemp2)
	    {
	    	temp2=parseFloat(showtemp2);
	    });
	    socket.on('s2c_humi2', function(showhumi2)
	    {
	    	humi2=parseFloat(showhumi2);
	    });
</script>
